/*** Main css ***/
#main_wrapper {
  background: url("../images/home_bg.jpg");
  height: 100%;
  width: 100%; }

.wrapper {
  font-family: Helvetica, sans-serif;
  cursor: default; }

.main_container {
  margin-top: 140px;
  margin-left: 7%;
  margin-right: 7%;
  color: #FFF; }

#scroll-section {
  overflow-x: auto;
  width: auto;
  white-space: nowrap;
  height: 720px;
  padding-left: 125px;
  margin-top: 0px;
  position: relative;
  padding-right: 50px; }

/*** Header / Profile styles ***/
#welcome-header {
  font-size: 40px;
  font-weight: 300;
  position: fixed;
  top: 50px;
  left: 125px;
  z-index: 50;
  color: #FFF; }

.page-header {
  font-size: 40px;
  font-weight: 300;
  position: absolute;
  top: 50px;
  left: 7%;
  z-index: 50;
  color: #FFF; }
  .page-header img {
    border: 3px solid #EBEBEB;
    border-radius: 100%;
    padding: 2px;
    margin-right: 10px;
    vertical-align: -17%; }
    .page-header img:hover {
      border: 3px solid #FFF; }

.headerContent.mobile {
  display: none;
  text-align: center;
  font-size: 40px;
  margin-bottom: 20px;
  font-weight: 100; }

.profileName {
  position: absolute;
  top: 45px;
  right: 250px;
  color: #FFF;
  text-align: right;
  font-size: 18px;
  font-weight: 400;
  z-index: 400; }

.first-name {
  font-size: 24px; }

.profilePic {
  top: 30px;
  right: 170px;
  width: 55px;
  height: 55px;
  z-index: 100;
  padding: 10px 10px 10px 80px; }

.profileName:hover + .profilePic {
  background: rgba(0, 0, 0, 0.4); }

.home_btn {
  top: 40px;
  right: 9%;
  padding: 20px; }

.menu_btn {
  top: 30px;
  right: 100px;
  padding: 20px;
  z-index: 100; }

.profile-links {
  position: absolute; }
  .profile-links:hover {
    background: rgba(0, 0, 0, 0.4); }

#profile_modal {
  transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  position: absolute;
  top: 103px;
  right: 180px;
  background: #FFF;
  width: 250px;
  height: 180px;
  border: 2px solid #494D4B;
  display: none; }
  #profile_modal ul li {
    display: block;
    height: 40px;
    line-height: 40px;
    padding-left: 18px; }
    #profile_modal ul li:hover {
      background: #f2f2f2; }

#profile_modal.show {
  display: block; }

#imgInp {
  visibility: hidden; }

.search_btn {
  position: absolute;
  top: 30px;
  right: 30px;
  padding: 24px 23px;
  z-index: 100; }

.page_intro {
  font-size: 22px;
  line-height: 1.4;
  margin-bottom: 20px; }

.moreLink {
  display: none;
  color: #C9C9C9;
  cursor: pointer; }

/*** General column styles ***/
.column {
  width: 324px;
  height: 480px;
  position: absolute; }

/*** Column positioning ***/
#column1 {
  top: 150px;
  left: 125px; }

#column2 {
  top: 150px;
  left: 449px; }

#column3 {
  top: 150px;
  left: 771px; }

#column4 {
  top: 150px;
  left: 1145px; }

#column5 {
  top: 150px;
  left: 1469px;
  width: 370px; }

/*** Universal app pattern library styles ***/
.app {
  border: 3px solid rgba(255, 0, 0, 0);
  display: inline-block;
  position: relative;
  cursor: default;
  margin: 1px; }
  .app:hover {
    border: 3px solid rgba(255, 255, 255, 0.5); }

.app-text {
  position: absolute;
  top: 120px;
  left: 10px;
  color: #FFF;
  font-weight: 200; }

/*** App sizes ***/
.sm-app {
  height: 150px;
  width: 150px; }

.md-app {
  height: 150px;
  width: 310px; }

.md-app2 {
  height: 150px;
  width: 312px; }

.lg-app {
  height: 312px;
  width: 310px; }

.lg-app2 {
  height: 311px;
  width: 312px; }

/*** App background colors ***/
.about {
  background: url("../images/about.png"); }

.purple {
  background: #5133AB; }

.orange {
  background: #FF981D; }

.light-purp {
  background: #AA00FF; }

.blog {
  background: url("../images/blog.png"); }

.fb-blue {
  background: url("../images/fb_bg.png"); }

.twitter-blue {
  background: url("../images/twitter_bg.png"); }

.portfolio {
  background: url("../images/portfolio.png"); }

.contact {
  background: url("../images/contact.png"); }

.photography {
  background: url("../images/photography.png"); }

.services {
  background: url("../images/services.png"); }

.interests {
  background: url("../images/interests.png"); }

.linkedin {
  background: url("../images/linkedin.png"); }

.pink {
  background: #C1004F; }

.lime {
  background: #8CBF26; }

.teal {
  background: #00AAAA; }

.black {
  background: #000; }

.blue {
  background: #2672EC; }

.videos {
  background: url("../images/videos.png"); }

.resume {
  background: url("../images/resume.png"); }

.events {
  background: url("../images/events.png"); }

.green {
  background: #008A00; }

.red {
  background: #FF2E12; }

.settings {
  background: url("../images/settings.png"); }

/*** Quotes slider ***/
.quotes-section {
  position: absolute;
  top: 45px;
  left: 20px; }

.quote {
  display: none;
  color: #FFF;
  font-style: italic;
  font-size: 15px; }

.names {
  float: right;
  margin-top: 30px;
  font-size: 14px;
  text-align: right; }

.quote_bg {
  background: url("../images/quote.png"); }

.client-section {
  position: absolute;
  top: 10px;
  left: 10px; }

.client {
  color: #FFF;
  font-style: italic;
  line-height: 1.5;
  display: none;
  font-size: 15px; }
  .client img {
    margin-bottom: 22px; }

.image-slider {
  position: absolute;
  top: 0;
  left: 0; }

.images {
  display: none;
  position: absolute;
  top: -3px;
  left: -3px; }

.image-caption {
  display: block;
  width: 316px;
  background: rgba(0, 0, 0, 0.5);
  color: #FFF;
  height: 50px;
  position: absolute;
  bottom: -3px;
  left: -3px;
  line-height: 50px;
  z-index: 20;
  font-size: 18px;
  opacity: 0;
  transition: opacity 0.5s ease; }

.slider_bg {
  background: url("../images/image1.jpg");
  background-position: center; }
  .slider_bg:hover .image-caption {
    opacity: 1; }

/*** Side off-canvas menu ***/
#menu {
  transition: all 0.3s ease;
  position: fixed;
  width: 0%;
  top: 0;
  right: -320px;
  padding-left: 30px;
  background: #0E3778;
  height: 100%;
  z-index: 999; }
  #menu hr {
    background-color: #DEDEDE;
    height: 1px;
    border: 0;
    width: 280px;
    float: left; }

#menu.open {
  right: 0;
  width: 320px;
  display: block; }

.close_btn {
  font-size: 30px;
  color: #FFF;
  float: right;
  margin-right: 25px;
  margin-top: 15px;
  font-family: arial, sans-serif;
  border-radius: 100%;
  padding: 3px 9px; }
  .close_btn:hover {
    background: rgba(255, 255, 255, 0.4); }

#menuHeader {
  text-align: center;
  color: #FFF;
  font-weight: 200;
  margin-top: 70px;
  font-size: 22px;
  margin-left: -30px; }

.search {
  background: #0013ff;
  width: 285px;
  padding: 0;
  margin-top: 50px; }
  .search:hover {
    background: #2d63ff; }

#searchField {
  height: 30px;
  width: 227px;
  padding-left: 15px;
  font-size: 16px;
  outline: none; }

#search_icon {
  margin-left: 5px;
  line-height: 32px; }

.menu_sect {
  color: #E3E3E3;
  display: block;
  background: rgba(255, 255, 255, 0.2);
  margin-left: -30px;
  margin-top: 40px;
  height: 40px;
  line-height: 40px;
  padding-left: 30px;
  padding-right: 40px; }
  .menu_sect:hover {
    color: #FFF; }

#settingsArrow {
  float: right;
  background: url("../images/arrow.png");
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-top: 10px; }

#settingsArrow.rotate {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg); }

#themeTitle {
  color: #FFF;
  margin-top: 30px;
  font-size: 13px; }

#themes {
  display: none; }
  #themes ul {
    margin-top: 20px;
    margin-left: 5px; }
    #themes ul li {
      display: inline-block;
      width: 50px;
      height: 50px;
      margin-right: 12px;
      margin-bottom: 7px;
      border: 3px solid #B5B9BA; }
      #themes ul li:hover {
        border: 3px solid #FFF; }

.aurora {
  background: url("../images/aurora_small.jpg"); }

.canal_rocks {
  background: url("../images/canal_small.jpg"); }

.butterfly {
  background: url("../images/butterfly_small.jpg"); }

.mechanical {
  background: url("../images/mechanical_small.jpg"); }

#pageList {
  margin-top: 30px;
  margin-left: -30px; }
  #pageList ul li {
    display: block;
    width: 100%;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 30px;
    color: #FFF; }
    #pageList ul li a {
      color: #FFF;
      text-decoration: none;
      cursor: default; }
    #pageList ul li img {
      width: 48px;
      height: 48px;
      vertical-align: middle;
      margin-right: 15px; }
    #pageList ul li:hover {
      background: rgba(255, 255, 255, 0.2); }

/*** About section ***/
.aboutServices {
  display: inline-block;
  width: 28%;
  background: rgba(255, 255, 255, 0.2);
  padding: 15px;
  text-align: center;
  margin: 1%; }
  .aboutServices img {
    width: 100%; }
  .aboutServices h2 {
    font-size: 24px;
    margin: 10px 0; }

.contactDetails {
  width: 46%;
  display: inline-block;
  padding: 1%; }

.contactInput {
  width: 100%;
  height: 35px;
  margin-bottom: 20px;
  font-size: 16px;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid #8FEBEB;
  color: #FFF;
  padding-left: 5px; }
  .contactInput:focus {
    border: 1px solid #FFF;
    outline: none;
    background: rgba(255, 255, 255, 0.3); }

.contactInput.message {
  height: 120px;
  margin-bottom: 10px; }

.portfolio-item {
  width: 31%;
  height: 320px;
  display: inline-block;
  margin-right: 1.5%;
  margin-bottom: 18px;
  position: relative;
  text-align: center;
  overflow: hidden; }
  .portfolio-item a {
    position: absolute;
    display: block;
    background: #000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 500ms ease;
    -webkit-transition: all 500ms ease; }
    .portfolio-item a:hover {
      opacity: 0.8; }
  .portfolio-item .portfolioSelect {
    height: 100%;
    width: 100%; }

.itemsTitle {
  position: absolute;
  top: 80px;
  left: 38%; }

.portfolioSearch {
  margin-top: 30px; }

.blogList {
  margin: 10px auto;
  width: 950px;
  height: 540px; }
  .blogList .blogGallery {
    width: 100%;
    height: 100%; }
  .blogList iframe {
    width: 100%;
    height: 100%; }

.blogDetails {
  margin: 10px auto;
  width: 950px;
  height: auto;
  margin-bottom: 60px; }
  .blogDetails h2 {
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 12px; }
  .blogDetails p {
    line-height: 1.5; }
  .blogDetails .blogInfo {
    font-size: 14px;
    margin-bottom: 10px; }
  .blogDetails .readMore a {
    color: #FFFFFF;
    font-style: italic; }

.olderPosts {
  margin-top: 50px; }

.olderPostsLink {
  padding: 10px;
  background: rgba(255, 255, 255, 0.2);
  color: #FFF;
  text-decoration: none; }
  .olderPostsLink:hover {
    background: rgba(255, 255, 255, 0.4); }

.footer-info {
  text-align: center;
  color: #FFF; }

.sendBtn {
  width: 100px;
  height: 35px;
  font-size: 15px; }

/***** Media Queries *****/
@media (max-width: 1148px) {
  .aboutServices {
    display: block;
    width: 80%;
    padding: 30px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px; } }
@media (max-width: 1115px) {
  .portfolio-item {
    width: 48%; }

  .blogList {
    width: 650px;
    height: 370px; }

  .blogDetails {
    width: 650px; } }
@media (max-width: 768px) {
  .contactDetails {
    width: 100%;
    padding: 0;
    margin-bottom: 25px; }

  .contactInput {
    width: 99%; }

  .sendBtn {
    width: 100%;
    margin-right: -30px; }

  .moreLink {
    display: inline-block; }

  .moreIntro.hidden {
    display: none; }

  #welcome-header {
    display: none; }

  .blogList {
    width: 450px;
    height: 256px; }

  .blogDetails {
    width: 450px; } }
@media (max-width: 567px) {
  .headerContent {
    display: none; }

  .headerContent.mobile {
    display: block;
    margin-top: -20px; }

  .aboutServices {
    padding: 10px;
    width: 95%; }

  .portfolio-item {
    width: 100%; } }

/*# sourceMappingURL=main.css.map */
